* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

main {
	width: 960px;
	margin: 50px auto;
}


.step-box {
	width: 300px;
	float: left;
	border: 1px solid silver;
}
.step-box:nth-child(2) {
	margin: 0 30px 0 30px
}
.image {
	width: 300px;
	position: relative;
}
img {
	width: 280px;
	margin: 10px 10px 0 10px;
}

span {
	position: absolute;
	top: 0;
	left: 0;
	background-color: orange;
	color: white;
	width: 50px;
	height: 30px;
	margin: auto;
	text-align: center;
	line-height: 27px;
	font-family: Arial;
}

.title {
	margin: 15px 10px;
	font-family: Century Gothic;
}

p {
	margin: 0 10px 10px 10px;
	font-family: Arial;
}